@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.nav-link.active {
  color:rgb(50, 203, 230) !important;
}
.hero-section {
  background-attachment: fixed;
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 50px 0 160px;
}
.hero-section::before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index:1;
}
.hero-section .hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
}
.hero-section .hero-content h2 {
  font-size: 50px;
  margin: 0;
}
.hero-section .hero-content h3 {
  font-size: 55px;
}
.about-section {
  margin-top: -150px;
  position: relative;
  z-index: 2;
}
.about-section .image-wrap {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  /* overflow: hidden; */
  border-radius: 50%;
  animation: img-animation 6s alternate-reverse infinite;
  perspective: inherit;
  transform-style: preserve-3d;
}
.about-section .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top 20px center;
  position: absolute;
  backface-visibility: hidden;
  top:0;
  left:0;
}
.about-section .image-wrap img.back-img {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 2;
  object-position: top center;
}
.image-wrap-main {
  max-width: 250px;
  position: relative;
  border-radius: 50%;
  perspective: 1000px;
}
.image-wrap-main:before,
.image-wrap-main:after {
  border: 1px solid rgba(0,0,0,0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  animation: wave 4s ease-out infinite;
}
.image-wrap-main:after {
  animation: wave2 5s ease-out infinite;
}
@keyframes wave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.12);
  }
}
@keyframes wave2 {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes img-animation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.social-icon a {
  margin-right: 5px;
  
}
.social-icon a svg {
  fill:rgb(50, 203, 230) ;
  transition: all 0.3s ease-in-out;
}
.social-icon a:hover > svg {
  transform: scale(1.09);
}

.about-container {
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
}

.section-heading h4 {
  font-size: 24px;
  margin: 0 0 10px;
}
.service-card-wrap {
  perspective: 1200px;
}
.service-card {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.service-card-wrap:hover .service-card {
  transform: rotateX(180deg) ;
} 
.service-card .front-card {
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-card .front-card:before {
  right: 0;
  content: "";
  position: absolute;
  background: #000;
  left: 0;
  height: 100%;
  opacity: 0.2;
  top: 0;
  left: 0;
}
.service-card .front-card h3 {
  background: #fff;
  text-align: center;
  padding: 10px 20px;
  width: auto;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.service-card .back-card {
  position: absolute;
  background:rgb(56, 204, 179) ;
  padding: 20px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.blog-card {
 transition: all 0.3s ease-in-out;
 background-color:rgba(0,0,0,0.01) !important;
}
.blog-card a, .blog-card a:hover {
  text-decoration: none;
  color: inherit;
}
.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
}
.blog-card .image-wrap img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.blog-card .card-img-overlay {
  background: rgba(0,0,0,0.5);
  color:#fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover .card-img-overlay {
  opacity: 1;
  visibility: visible;
}
.git-card {
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.git-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 6px 0px rgba(0,0,0,0.05);
}
.company-card .c-logo {
  max-width: 220px;
}

@media(max-width: 575px) {
  .hero-section .hero-content h3 {
   font-size: 38px;
  }
  .hero-section .hero-content h2 {
  font-size: 35px;
  }
}
